<ion-view ng-controller="memoController" view-title="Memo">
  <ion-content>
  	<div class="memosWrapper">
  		 <div class="rangeBlock">
  		 	<ul>
	  			<li class="mix {{memo.memoDep}}" ng-href="#/memo/{{memo.memoId}}">
	        		<div class="memoAvatar"><img src="img/avatars/{{memo.memoDep}}.jpg" alt=""></div>
					<div class="memoDate"><span class="day">{{memo.memoDate}}</span><span class="time">07:30</span></div>
					<div class="memoContent">
					  <h3>{{memo.memoTitle}}</h3>
					  {{memo.memoContent}}
					</div>
					<div class="memoAttachment"></div>
	    		</li>
	    	</ul>
  		</div>
		</div>
	</ion-content>
</ion-view>