
<ion-view view-title="Memos">
  <ion-content>

  <div class="memosWrapper" ng-controller="memosCntr">

		 <!-- today -->
            <div class="rangeBlock today">
                <ul class="memos">
                     <li class="mix sn">
                        <div class="memoAvatar"><img src="img/avatars/s.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">Today</span><span class="time">07:30</span></div>
                        <div class="memoContent">
                            <h3>School</h3>
                            Books and materials for the test!!!
                        </div>
                        <div class="memoAttachment"></div>
                    </li>
                    <li class="mix dd">
                        <div class="memoAvatar"><img src="img/avatars/p.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">Today</span><span class="time">18:00</span></div>
                        <div class="memoContent">
                            <h3>Meeting wtih Daniel</h3>
                            Don&apos;t forget laptop and tablet!
                        </div>
                        <div class="memoAttachment"></div>
                    </li>
                     <li class="mix dd">
                        <div class="memoAvatar"><img src="img/avatars/p.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">Today</span><span class="time">19:00</span></div>
                        <div class="memoContent">
                            <h3>Elternabend</h3>
                            Ask Ms.Kiese for the birthday party on Saturday
                        </div>
                        <div class="memoAttachment"></div>
                    </li>
                    <li class="mix dr">
                        <div class="memoAvatar"><img src="img/avatars/d.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">Today</span><span class="time">18:30</span></div>
                        <div class="memoContent">
                            <h3>Violine lesson</h3>
                        </div>
                        <div class="memoAttachment"></div>
                    </li>
                    <li class="mix mm">
                        <div class="memoAvatar"><img src="img/avatars/m.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">Today</span></div>
                        <div class="memoContent">
                            <h3>Fill the papers for the school</h3>
                        </div>
                        <div class="memoAttachment"></div>
                    </li>
                    <li class="mix dd">
                        <div class="memoAvatar"><img src="img/avatars/p.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">Today</span><span class="time"></span></div>
                        <div class="memoContent"><h3>Buy coffee</h3></div>
                        <div class="memoAttachment"></div>
                    </li>

                </ul>
            </div>
            <!-- END today -->
            
            
            <!-- three days -->
            <div class="rangeBlock d3">
                <h2 class="rangeTitle">Next 3 days</h2>
                <ul class="memos">
                     <li class="mix dd">
                        <div class="memoAvatar"><img src="img/avatars/p.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">30</span><span class="time">Sun</span></div>
                        <div class="memoContent"><h3>3d1</h3></div>
                        <div class="memoAttachment"></div>
                    </li>
                    <li class="mix sn">
                        <div class="memoAvatar"><img src="img/avatars/s.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">31</span><span class="time">Mon 09:00</span></div>
                        <div class="memoContent">
                            <h3>3d2</h3>
                            verylongwordaboutnithingjustfortestingifitswrapsornot
                        </div>
                        <div class="memoAttachment"></div>
                    </li>
                     <li class="mix sn">
                        <div class="memoAvatar"><img src="img/avatars/s.jpg" alt=""></div>
                         <div class="memoDate"><span class="day">01</span><span>Sep</span><span class="time">THU  18:30</span></div>
                        <div class="memoContent"><h3>3d3</h3></div>
                        <div class="memoAttachment"></div>
                    </li>
                </ul>
            </div>
            <!-- END three days -->

    
            <!-- 7 days -->
            <div class="rangeBlock d7">
                <h2 class="rangeTitle">Another 7 days</h2>
                <ul class="memos">
                 <li class="mix dr">
                    <div class="memoAvatar"><img src="img/avatars/d.jpg" alt=""></div>
                    <div class="memoDate"><span class="day">05</span><span>Sep</span><span class="time">18:00</span></div>
                    <div class="memoContent"><h3>7d1</h3></div>
                    <div class="memoAttachment"></div>
                </li>
                <li class="mix dd">
                    <div class="memoAvatar"><img src="img/avatars/p.jpg" alt=""></div>
                    <div class="memoDate"><span class="day">08</span><span>Sep</span><span class="time">THU 18:00</span></div>
                    <div class="memoContent">
                        <h3>7d2</h3>
                        verylongwordaboutnithingjustfortestingifitswrapsornot
                    </div>
                    <div class="memoAttachment"></div>
                </li>
                <li class="mix mm">
                    <div class="memoAvatar"><img src="img/avatars/m.jpg" alt=""></div>
                    <div class="memoDate"><span class="day">10</span><span>Sep</span><span class="time">18:00</span></div>
                    <div class="memoContent"><h3>7d3</h3></div>
                    <div class="memoAttachment"></div>
                </li>
                <li class="mix sn">
                    <div class="memoAvatar"><img src="img/avatars/s.jpg" alt=""></div>
                    <div class="memoDate"><span class="day">10</span><span>Sep</span><span class="time">18:00</span></div>
                    <div class="memoContent"><h3>7d3</h3></div>
                    <div class="memoAttachment"></div>
                </li>
                </ul>
            </div>
            <!-- END 7 days -->
    
            <!-- later -->
            <div class="rangeBlock">
                <h2 class="rangeTitle">Later</h2>
                 <ul class="memos">
                     <li class="mix dr">
                        <div class="memoAvatar"><img src="img/avatars/d.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">05</span><span>Okt</span><span class="time">Fri 18:00</span></div>
                        <div class="memoContent"><h3>7d1</h3>We see in more shades of green than any other colour &#x2013; that&#x2019;s why night vision goggles use it.</div>
                        <div class="memoAttachment"></div>
                    </li>
                    <li class="mix dd">
                        <div class="memoAvatar"><img src="img/avatars/p.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">08</span><span>Nov</span></div>
                        <div class="memoContent">
                            <h3>7d2</h3>
                            verylongwordaboutnithingjustfortestingifitswrapsornot
                        </div>
                        <div class="memoAttachment"></div>
                    </li>
                    <li class="mix mm">
                        <div class="memoAvatar"><img src="img/avatars/m.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">10</span><span>Dec</span><span class="time">Sat 18:00</span></div>
                        <div class="memoContent"><h3>7d3</h3></div>
                        <div class="memoAttachment"></div>
                    </li>
                    <li class="mix sn">
                        <div class="memoAvatar"><img src="img/avatars/s.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">31</span><span>Dec</span><span class="time">00:00</span></div>
                        <div class="memoContent"><h3>7d3</h3>Happy</div>
                        <div class="memoAttachment"></div>
                    </li>
                </ul>
                <ul class="memos">
                     <li class="mix dr">
                        <div class="memoAvatar"><img src="img/avatars/d.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">05</span><span>Jan</span><span class="time">Fri 18:00</span></div>
                        <div class="memoContent"><h3>7d1</h3>We see in more shades of green than any other colour &#x2013; that&#x2019;s why night vision goggles use it.</div>
                        <div class="memoAttachment"></div>
                    </li>
                    <li class="mix dd">
                        <div class="memoAvatar"><img src="img/avatars/p.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">08</span><span>Feb</span></div>
                        <div class="memoContent">
                            <h3>7d2</h3>
                            verylongwordaboutnithingjustfortestingifitswrapsornot
                        </div>
                        <div class="memoAttachment"></div>
                    </li>
                    <li class="mix mm">
                        <div class="memoAvatar"><img src="img/avatars/m.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">10</span><span>Mar</span><span class="time">Sat 18:00</span></div>
                        <div class="memoContent"><h3>7d3</h3></div>
                        <div class="memoAttachment"></div>
                    </li>
                    <li class="mix sn">
                        <div class="memoAvatar"><img src="img/avatars/s.jpg" alt=""></div>
                        <div class="memoDate"><span class="day">31</span><span>Apr</span><span class="time">00:00</span></div>
                        <div class="memoContent"><h3>7d3</h3>Happy</div>
                        <div class="memoAttachment"></div>
                    </li>
                </ul>
            </div>
            <!-- END rest -->

          </div>

	</ion-content>
</ion-view>
