<ion-side-menus enable-menu-with-back-views="false">
  
  <ion-side-menu-content>
    <!-- navigation bar -->
    <ion-nav-bar class="bar-stable bar-dark"> 
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!-- content container -->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="sideMenu">
  <!--
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
  -->
    <ion-content>
      <div class="userProfile">
        <a menu-close href="#/app/profile">
          <span class="item-avatar" href="#">
              <img ng-src="img/avatars/p.jpg" alt="Father" src="img/avatars/p.jpg">
              <div>Dady</div>
          </span>
        </a>
      </div>
      <ion-list>
        <ion-item menu-close href="#/app/memos">
          Memos
        </ion-item>
        <ion-item menu-close href="#/app/team">
          Team
        </ion-item>
        <ion-item menu-close href="#/app/settings">
          Settings
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          Profile
        </ion-item>
        <ion-item menu-close href="#/app/login">
          Login
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>