// base styles
// ----------------------------------------------------------------------

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(fonts/font.woff2) format('woff2');
  //  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

$backgroundColor: #44484b;

body { 
	background: $backgroundColor;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

p { padding: .2em; }
h1,h2,h3 { 
    color: #fff;
    font-weight: normal;
}

.memosWrapper {
	width: 100%;
	margin: 0 auto;
	background: $backgroundColor;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

.rangeBlock {
	font-size: 20px;
	line-height: 1.2;
	color: #8f969c;
	border-bottom: 1px solid #666b6f;
	margin: 0;
	padding: 2em 10px;
	position: relative;
	&:before,
	&:after {
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		height: 100%;
		width: 5px;
	}
	&.today:after { background: #ff7200; }
	&.d3:after { background: #ae4e00; }
	&.d7:after { background: #7b3700; }
    
    .rangeTitle {
        position: absolute;
        top: -.6em;
        margin: 0 20px;
        background-color: $backgroundColor;
        line-height: 1;
        font-size: 1.4em;
        padding: 0 .2em;
        text-transform: uppercase;
        font-weight: normal;
    }
}


.memos {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	// align-items: flex-start;
	// justify-content: space-around;
    
    .mix { display: none; }
    
	li {
        position: relative;
        z-index: 1;
		box-sizing: border-box;
		// min-height: 6em;
		// max-height: 8em;
		margin: 0;
		padding: .3em;
		text-align: left;
		flex: 0 1 auto;
        flex-basis: 100%;
		align-self: justify;
		margin: 0 0 2% 2%;
        display: flex;
	}
}

.rangeBlock.today {
	font-size: 2em;
	li { 
		flex-basis: 48%;
	}
}

.rangeBlock.d3 {
	font-size: 1.6em;
	li { 
		flex-basis: 31.33%;
	}
}

.rangeBlock.d7 {
	font-size: 1.4em;
	li { 
		flex-basis: 23%;
	}
}


// ================================

.pageHeader {
    position: relative;
    min-height: 300px;
/*
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../img/header_bcgr.jpg');
    background-size: 100%;
*/
    
    .headerImg {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-image: url('../img/header_bcgr.jpg');
        background-repeat: no-repeat;
        background-position: center;
        // background-size: contain;
        img {
            display: block;
            width: 100%;
        }
    }
    .watchers {
        position: absolute;
        z-index: 3;
        bottom: 0px;
        width: 100%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0 10px;
            display: flex;
            justify-content: center;
        }
        li {
            position: relative;
            top: 20px;
            box-sizing: border-box;
            margin: 0 5px;
            background: #fff;
            padding: 5px;
            border-radius: 50%;
            width: 80px;
            img { 
                display: block;
                box-sizing: border-box;
                border-radius: 50%;
                width: 100%;
            }
        }
    }
    .headerTitle { margin: 0; }
}

.memoContent {
    box-sizing: border-box;
    background: #2b3135;
    border: 3px solid $backgroundColor + 30;
    border-radius: 10px;
    width: 100%;
    padding: 20px 15px 10px;
    max-height: 8em;
    h3 { margin: .2em 0; }
}

.memoDate {
    font-weight: bold;
    position: absolute;
    top: -5px;
    left: 0;
    line-height: 1;
    font-size: .6em;
    text-transform: uppercase;
    background: rgba(0,0,0,1);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    padding-right: .6em;
    > span {
        padding: 4px 0 0 8px;
        &.day {
            padding: 2px 0 4px .3em;
            font-size: 170%;
            // border-right: 1px solid #ccc;
        }
        &.time { }
    }
    &:before {
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        border: 2px solid #ccc;
        border-radius: 5px;
    }
}

.memoAvatar {
    position: absolute;
    right: 0;
    top: -5px;
    img {
        display: block;
        width: 1.5em;
        height: 1.5em;
        border-radius: 1.5em;
        border: 3px solid #fff;
    }
}

.memoContent {
    overflow: hidden;
}


// mixit style
.filter {
    &.active { border-color: coral !important; }
}